
<ion-content>
  <ion-item>
    <ion-label>Post Exposure</ion-label>
    <ion-select interface="popover" class="custom-options" placeholder="Make a selection">
      <ion-select-option value="brown">Condom Burst</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Please Describe..."></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Pre Exposure</ion-label>
    <ion-select interface="popover" class="custom-options" placeholder="Make a selection">
      <ion-select-option value="brown">Partner Positive</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Please Describe..."></ion-textarea>
  </ion-item>
</ion-content>
