<ion-header>
  <ion-toolbar>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=17666339&amp;item_name=Electrical+Maintenance&amp;item_description=We+offer+electrical+services&amp;amount=895.00&amp;return_url=https%3A%2F%2Fwww.mdsproject.co.za%2Fhome&amp;cancel_url=https%3A%2F%2Fwww.mdsproject.co.za%2Fabout"><img src="https://www.payfast.co.za/images/buttons/light-small-paynow.png" width="165" height="36" alt="Pay" title="Pay Now with PayFast" /></a>

</ion-content>
