<div style="background: url(https://images.unsplash.com/photo-1580281657527-47f249e8f4df?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)">
<div class="banner-area">
  <div class="content-area">
    <div class="content">

      <h1>Oopz is Life Saving,</h1>
      <p>In Emergency Situations</p>
    <button class="btn btn-primary" (click)="register()">Sign Up</button>
    <button class="ml-2 btn btn-success" (click)="login()">Sign In</button>
  </div>
</div>
</div>
</div>
