* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

// ********************** code Start here **********************
.nav {
    background-color: rgba(0, 116, 248, 0.877);
    height: 10%;
}

.nev_container {
    margin: auto 10% auto auto;
}

.nav-item {
    a {
        color: white;
    }
}

#header {
    width: 100%;
    height: 100vh;
    background: url('../../../assets/background.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
}

.banner-area {
    width: 100%;
    height: 100vh;
    background-size: 0%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 50px;
    color: white;
}

.content span {
    color: rgb(57, 194, 16);
    font-size: 60px;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Times New Roman', Times, serif;
}

.btn_group {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 2;
}

.btn_one {
    background-color: rgba(0, 116, 248, 0.877);
}

.btn {
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 135%;
    // padding: 10px 20px;
    // padding: 15 30px 15 15px;
    padding: 15px 50px;
    border: solid rgba(0, 116, 248, 0.877) 1px;
    text-transform: uppercase;
    text-decoration: none;
}


/*
.intro{
  height: 590px;
  width: 100%;
  margin: auto;
  background: url('../../../assets/background.jfif');
  background-position: center;
  display: table;
  top:0;
  background-position: center;
  background-blend-mode: soft-light;
  background-size: cover;

}

.intro .inner{

  display: table-cell;
  vertical-align: middle;
  width:100%;
  max-width: none;

}
.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content h1{
font-family: 'Raleway', sans-serif;
text-shadow: 0px 0px 300px #000;
font-size: 200%;
font: bolder;
}

.h3 {
   color: blue;
}

.btn{
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #036A81;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #036A81 3px;
  text-transform: uppercase;
  text-decoration: none;

}

.btn:hover{
  color: #fff;
  border: solid #fff 3px;
}

.p{
  font-size: 160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}

.footer-area{
  width: 100%;
  height: auto;
  margin: auto;
  background: #272727;
  padding: 20px 0px;
}

.center{
  font-family: sans-serif;
  color: white;
  text-align: right;
}

p{

  font-family: sans-serif;
  color: black;
}

@media screen and(max-width768px){
  .content h1{
      font-size: 250%;
  }
  .btn{
      font-size: 110%;
      padding: 7px 15px;
  }

}*/